/* Eric Meyer's CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
   margin: 0;
   padding: 0;
   border: 0;
   font-size: 100%;
   vertical-align: top;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
   display: block;
}
body {
   line-height: 1;
}
ol, ul {
   list-style: none;
}

@font-face {
   font-family: OfficinaSansBoldC;
   src: url('font/officinasansboldc.ttf');
}

@font-face {
   font-family: OfficinaSansBookOSC;
   src: url('font/officinasansbookc.ttf');
}



.head1{
   background: url('head.jpg') no-repeat scroll 50% 0;
   height: 513px;
}

.content-block{
   max-width: 1900px;
   margin: 0 auto;
}


.padding-left{
   padding-left: 190px;
}

.logo-ylk{
   background: url('logo.png');
   width: 475px;
   height: 123px;

}

.blue-text{
   font-family: OfficinaSansBoldC;
   line-height: 50px;
   color: #193664;
   font-size: 40px;
   margin-left: 150px;
   width: 455px;
}

.center-line{
   background: url('center.png') no-repeat;
   width: 81px;
   height: 11px;
   display: inline-block;
   margin-top: 10px;
   margin-bottom: -8px;
}

.left-line{
   background: url('other-line.png') repeat-x;
   height: 11px;
   display: inline-block;
   width: 140px;
   margin-top: 10px;
   margin-bottom: -8px;
}

.right-line{
   background: url('other-line.png') repeat-x;
   height: 11px;
   display: inline-block;
   margin-top: 10px;
   margin-bottom: -8px;
}

.map{
   background: url('map.png') no-repeat scroll 50% 0;
   height: 784px;
   margin-top: 40px;
}

.left-text{
   width: 500px;
   float: left;
   margin-top: 85px;
}

.right-text{
   float: right;
   margin-top: 80px;
   text-align: right;
}

.right-text img{
   max-width: 100%;
}

.clear{
   clear: both;
}

.book-bg{
   background: url('book.png') no-repeat;
   background-position: right top;
   background-size: 90% auto;
}

.red-line{
   margin-top: 60px;
   height: 20px;
   background: url('other-line.png') repeat-x scroll 0 50%;
}

.shape{
   width: 20px;
   height: 20px;
   background: url('shape.png');
}

.full-img{
   text-align: center;
   margin-top: 30px;
}

.full-img img{
   max-width: 100%;
}

.button{
   background: url('button.png');
   width: 192px;
   height: 50px;
   cursor: pointer;
}

.button:hover{
   background: url('button-hover.png');
}

.absolute-button{
   position: absolute;
   left: 50%;
   margin-left: -96px;
   width: 192px;
}

.empty150{
   height: 150px;
}

.full2{
   background: url('full2.png') no-repeat scroll 50% 0;
   background-size: 100% auto;
}

.full3{
   background: url('full3.png') no-repeat;
   background-position: right top;
   height: 874px;
}

.absolute-img{
   height: 1000px;
   background: url('slides/1.png') no-repeat 50% 0;
   -webkit-transition-duration: 0.96s;
   -moz-transition-duration: 0.96s;
   -o-transition-duration: 0.96s;
   -ms-transition-duration: 0.96s; /* IE9+ */
   transition-duration: 0.96s;
   background-size: cover;
}

.previews{
   margin-top: 60px;
   margin-bottom: 50px;
   height: 102px;
   text-align: center;
}

.one-preview{
   width: 156px;
   height: 98px;
   border: 2px solid #cccccc;
   border-radius: 4px;
   -moz-border-radius: 4px;
   -webkit-border-radius: 4px;
   background: #e1e2e7;
   cursor: pointer;
   display: inline-block;
   overflow: hidden;
   margin: 0 10px;
   text-align: center;
   vertical-align: middle;
}

.table-cell{
   vertical-align: middle;
   width: 156px;
   height: 98px;
   display: table-cell;
}

.one-preview img{
   vertical-align: middle;
}

.one-preview.active, .one-preview:hover{
   border: 2px solid #c2272d;
}

.one-col{
   float: left;
   min-height: 560px;
   margin-top: 100px;
   width: 24%;
   margin-right: 1%;
}

.col-blue{
   vertical-align: bottom;
   height: 200px;
   display: table-cell;
   font-family: OfficinaSansBoldC;
   line-height: 50px;
   color: #193664;
   font-size: 40px;
}

.gray-line{
   
   height: 45px;
   background: url('gray-in-col.png') no-repeat 0 50%;
}

.gray-col{
   font-family: OfficinaSansBookOSC;
   color: #6d6e71;
   font-size: 24px;
   line-height: 30px;

}

h1{
   font-family: OfficinaSansBoldC;
   font-size: 80px;
   color: #c2272d;
   margin-top: 15px;
}

.red-title{
   color: #c2272d;
   font-family: OfficinaSansBoldC;
   line-height: 50px;
   font-size: 40px;

}

.black-text{
   font-family: OfficinaSansBookOSC;
   font-size: 20px;
   line-height: 30px;
   color: #000000;
   margin-top: 40px;
}

.gray-title{
   color: #6d6e71;
   font-family: OfficinaSansBoldC;
   line-height: 50px;
   font-size: 40px;
}